In [1]:
%run ../imports.py

C:\Users\Jason\AppData\Local\conda\conda\envs\DSI-6\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
df = pd.read_csv('./data_raw/2015-16_pbp.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568333 entries, 0 to 568332
Data columns (total 34 columns):
Unnamed: 0                   568333 non-null int64
EVENTMSGACTIONTYPE           568333 non-null int64
EVENTMSGTYPE                 568333 non-null int64
EVENTNUM                     568333 non-null int64
GAME_ID                      568333 non-null int64
HOMEDESCRIPTION              294317 non-null object
NEUTRALDESCRIPTION           0 non-null float64
PCTIMESTRING                 568333 non-null object
PERIOD                       568333 non-null int64
PERSON1TYPE                  566172 non-null float64
PERSON2TYPE                  568333 non-null int64
PERSON3TYPE                  568333 non-null int64
PLAYER1_ID                   568333 non-null int64
PLAYER1_NAME                 517980 non-null object
PLAYER1_TEAM_ABBREVIATION    517070 non-null object
PLAYER1_TEAM_CITY            517070 non-null object
PLAYER1_TEAM_ID              517070 non-null float64
PLAYER1_TEAM_NICKNAME        517070 non-null object
PLAYER2_ID                   568333 non-null int64
PLAYER2_NAME                 181139 non-null object
PLAYER2_TEAM_ABBREVIATION    181139 non-null object
PLAYER2_TEAM_CITY            181139 non-null object
PLAYER2_TEAM_ID              181139 non-null float64
PLAYER2_TEAM_NICKNAME        181139 non-null object
PLAYER3_ID                   568333 non-null int64
PLAYER3_NAME                 14211 non-null object
PLAYER3_TEAM_ABBREVIATION    14211 non-null object
PLAYER3_TEAM_CITY            14211 non-null object
PLAYER3_TEAM_ID              14211 non-null float64
PLAYER3_TEAM_NICKNAME        14211 non-null object
SCORE                        146428 non-null object
SCOREMARGIN                  146428 non-null object
VISITORDESCRIPTION           290712 non-null object
WCTIMESTRING                 568333 non-null object
dtypes: float64(5), int64(11), object(18)
memory usage: 147.4+ MB

In [3]:
features = ['SCORE','HOMEDESCRIPTION','VISITORDESCRIPTION','EVENTNUM','GAME_ID','PCTIMESTRING',
            'PERIOD','PLAYER1_ID','PLAYER1_NAME','PLAYER1_TEAM_NICKNAME',
            'PLAYER2_ID','PLAYER2_NAME','PLAYER2_TEAM_NICKNAME',
            'PLAYER3_ID','PLAYER3_NAME','PLAYER3_TEAM_NICKNAME',
            'SCOREMARGIN'
           ]

In [4]:
df = df[features]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568333 entries, 0 to 568332
Data columns (total 17 columns):
SCORE                    146428 non-null object
HOMEDESCRIPTION          294317 non-null object
VISITORDESCRIPTION       290712 non-null object
EVENTNUM                 568333 non-null int64
GAME_ID                  568333 non-null int64
PCTIMESTRING             568333 non-null object
PERIOD                   568333 non-null int64
PLAYER1_ID               568333 non-null int64
PLAYER1_NAME             517980 non-null object
PLAYER1_TEAM_NICKNAME    517070 non-null object
PLAYER2_ID               568333 non-null int64
PLAYER2_NAME             181139 non-null object
PLAYER2_TEAM_NICKNAME    181139 non-null object
PLAYER3_ID               568333 non-null int64
PLAYER3_NAME             14211 non-null object
PLAYER3_TEAM_NICKNAME    14211 non-null object
SCOREMARGIN              146428 non-null object
dtypes: int64(6), object(11)
memory usage: 73.7+ MB

In [5]:
df.to_csv('./data_raw/2015-16_pbp_gzip.csv', index=False, compression='gzip')

In [6]:
df2 = pd.read_csv('./data_raw/2016-17_pbp.csv')
df2.info()

C:\Users\Jason\AppData\Local\conda\conda\envs\DSI-6\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (71,89,90) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567365 entries, 0 to 567364
Columns: 111 entries, Unnamed: 0 to AWAY_PLAYER_ID_5_PLAY_TIME
dtypes: float64(53), int64(24), object(34)
memory usage: 480.5+ MB

In [7]:
df2 = df2[features]
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567365 entries, 0 to 567364
Data columns (total 17 columns):
SCORE                    148830 non-null object
HOMEDESCRIPTION          293104 non-null object
VISITORDESCRIPTION       289705 non-null object
EVENTNUM                 567365 non-null int64
GAME_ID                  567365 non-null int64
PCTIMESTRING             567365 non-null object
PERIOD                   567365 non-null int64
PLAYER1_ID               567365 non-null int64
PLAYER1_NAME             516896 non-null object
PLAYER1_TEAM_NICKNAME    515854 non-null object
PLAYER2_ID               567365 non-null int64
PLAYER2_NAME             180677 non-null object
PLAYER2_TEAM_NICKNAME    180677 non-null object
PLAYER3_ID               567365 non-null int64
PLAYER3_NAME             13730 non-null object
PLAYER3_TEAM_NICKNAME    13730 non-null object
SCOREMARGIN              148830 non-null object
dtypes: int64(6), object(11)
memory usage: 73.6+ MB

In [8]:
df2.to_csv('./data_raw/2016-17_pbp_gzip.csv', index=False, compression='gzip')

In [35]:
df3 = pd.read_csv('./data/play_by_play.csv', compression='gzip')

In [36]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568333 entries, 0 to 568332
Data columns (total 23 columns):
SCORE                        146428 non-null object
HOMEDESCRIPTION              294317 non-null object
VISITORDESCRIPTION           290712 non-null object
EVENTNUM                     568333 non-null int64
GAME_ID                      568333 non-null int64
PCTIMESTRING                 568333 non-null object
PERIOD                       568333 non-null int64
PLAYER1_ID                   568333 non-null int64
PLAYER1_NAME                 517980 non-null object
PLAYER1_TEAM_ABBREVIATION    517070 non-null object
PLAYER2_ID                   568333 non-null int64
PLAYER2_NAME                 181139 non-null object
PLAYER2_TEAM_ABBREVIATION    181139 non-null object
PLAYER3_ID                   568333 non-null int64
PLAYER3_NAME                 14211 non-null object
PLAYER3_TEAM_ABBREVIATION    14211 non-null object
SCOREMARGIN                  146428 non-null object
Foul                         51954 non-null object
Fouler                       50621 non-null object
Fouler_team                  50621 non-null object
is_home_team                 51839 non-null object
Foulee                       48332 non-null object
Foulee_team                  48332 non-null object
dtypes: int64(6), object(17)
memory usage: 99.7+ MB

In [37]:
df3.drop(['PLAYER1_TEAM_ABBREVIATION','PLAYER2_TEAM_ABBREVIATION','PLAYER3_TEAM_ABBREVIATION'], 
         axis=1, inplace=True)

In [38]:
df[['PLAYER1_TEAM_NICKNAME','PLAYER2_TEAM_NICKNAME','PLAYER3_TEAM_NICKNAME']].shape

(568333, 3)

In [40]:
df3 = pd.concat([df3, df[['PLAYER1_TEAM_NICKNAME','PLAYER2_TEAM_NICKNAME','PLAYER3_TEAM_NICKNAME']]], 
                 axis=1)
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568333 entries, 0 to 568332
Data columns (total 23 columns):
SCORE                    146428 non-null object
HOMEDESCRIPTION          294317 non-null object
VISITORDESCRIPTION       290712 non-null object
EVENTNUM                 568333 non-null int64
GAME_ID                  568333 non-null int64
PCTIMESTRING             568333 non-null object
PERIOD                   568333 non-null int64
PLAYER1_ID               568333 non-null int64
PLAYER1_NAME             517980 non-null object
PLAYER2_ID               568333 non-null int64
PLAYER2_NAME             181139 non-null object
PLAYER3_ID               568333 non-null int64
PLAYER3_NAME             14211 non-null object
SCOREMARGIN              146428 non-null object
Foul                     51954 non-null object
Fouler                   50621 non-null object
Fouler_team              50621 non-null object
is_home_team             51839 non-null object
Foulee                   48332 non-null object
Foulee_team              48332 non-null object
PLAYER1_TEAM_NICKNAME    517070 non-null object
PLAYER2_TEAM_NICKNAME    181139 non-null object
PLAYER3_TEAM_NICKNAME    14211 non-null object
dtypes: int64(6), object(17)
memory usage: 99.7+ MB

In [41]:
df3[df3['PLAYER1_TEAM_NICKNAME'].isnull()].head(10)

,SCORE,HOMEDESCRIPTION,VISITORDESCRIPTION,EVENTNUM,GAME_ID,PCTIMESTRING,PERIOD,PLAYER1_ID,PLAYER1_NAME,PLAYER2_ID,PLAYER2_NAME,PLAYER3_ID,PLAYER3_NAME,SCOREMARGIN,Foul,Fouler,Fouler_team,is_home_team,Foulee,Foulee_team,PLAYER1_TEAM_NICKNAME,PLAYER2_TEAM_NICKNAME,PLAYER3_TEAM_NICKNAME
0,NaN,NaN,NaN,0,21500758,12:00,1,0,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,Bucks Rebound,39,21500758,6:45,1,1610612749,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,Bucks Rebound,43,21500758,6:43,1,1610612749,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,JAZZ Timeout: Regular (Full 1 Short 0),NaN,46,21500758,6:43,1,1610612762,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,Bucks Timeout: Regular (Reg.1 Short 0),84,21500758,3:40,1,1610612749,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,Bucks Rebound,105,21500758,1:34,1,1610612749,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,NaN,JAZZ Rebound,NaN,119,21500758,0:00,1,1610612762,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,19 - 18,NaN,NaN,120,21500758,0:00,1,0,NaN,0,NaN,0,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,19 - 18,NaN,NaN,122,21500758,12:00,2,0,NaN,0,NaN,0,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NaN,JAZZ Rebound,NaN,134,21500758,10:31,2,1610612762,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df[df['PLAYER1_TEAM_NICKNAME'].isnull()].head(10)

,SCORE,HOMEDESCRIPTION,VISITORDESCRIPTION,EVENTNUM,GAME_ID,PCTIMESTRING,PERIOD,PLAYER1_ID,PLAYER1_NAME,PLAYER1_TEAM_NICKNAME,PLAYER2_ID,PLAYER2_NAME,PLAYER2_TEAM_NICKNAME,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_NICKNAME,SCOREMARGIN
0,NaN,NaN,NaN,0,21500758,12:00,1,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
38,NaN,NaN,Bucks Rebound,39,21500758,6:45,1,1610612749,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
41,NaN,NaN,Bucks Rebound,43,21500758,6:43,1,1610612749,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
42,NaN,JAZZ Timeout: Regular (Full 1 Short 0),NaN,46,21500758,6:43,1,1610612762,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
75,NaN,NaN,Bucks Timeout: Regular (Reg.1 Short 0),84,21500758,3:40,1,1610612749,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
93,NaN,NaN,Bucks Rebound,105,21500758,1:34,1,1610612749,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
106,NaN,JAZZ Rebound,NaN,119,21500758,0:00,1,1610612762,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
107,19 - 18,NaN,NaN,120,21500758,0:00,1,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,-1
108,19 - 18,NaN,NaN,122,21500758,12:00,2,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,-1
120,NaN,JAZZ Rebound,NaN,134,21500758,10:31,2,1610612762,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN

In [43]:
df3.to_csv('./data/play_by_play.csv', index=False, compression='gzip')